<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @register.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @register.number %>
</p>

<p>
  <strong>City:</strong>
  <%= @register.city %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @register.cpf %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
